National_bank_xml/src/main/resources/nationalBank.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://nalogZaPlacanje.xml.com" xmlns:sch1="http://strukturaRtgsNaloga.xml.com" xmlns:sch2="http://mt102.xml.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nationalBank_xml.com/ws/" targetNamespace="http://nationalBank_xml.com/ws/">
<wsdl:types>
<xs:schema xmlns:nzp="http://nalogZaPlacanje.xml.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nalogZaPlacanje.xml.com">
<xs:complexType name="nalogZaPlacanje">
<xs:sequence>
<xs:element name="idPoruke">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="duznik-nalogodavac" type="xs:string"/>
<xs:element name="svrhaPlacanja" type="xs:string"/>
<xs:element name="primalac-poverilac" type="xs:string"/>
<xs:element name="racunDuznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="modelZaduzenja">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:maxInclusive value="99"/>
<xs:minInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pozivNaBrojZaduzenja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="racunPoverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="modelOdobrenja">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:minInclusive value="10"/>
<xs:maxInclusive value="99"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pozivNaBrojOdobrenja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="oznakaValute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
<xs:attribute name="datumNaloga" type="xs:date"/>
<xs:attribute name="datumValute" type="xs:date"/>
<xs:attribute name="hitno" type="xs:boolean"/>
</xs:complexType>
<xs:element name="getNalogZaPlacanjeRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="nalogZaPlacanje" type="nzp:nalogZaPlacanje"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getNalogZaPlacanjeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="nalogZaPlacanje" type="nzp:nalogZaPlacanje"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:srtgs="http://strukturaRtgsNaloga.xml.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://strukturaRtgsNaloga.xml.com">
<xs:complexType name="struktura_rtgs_naloga">
<xs:sequence>
<xs:element name="id_poruke">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="swift_kod_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="swift_kod_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="duznik_nalogodavac">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="svrha_placanja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="primalac_poverilac">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="racun_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="model_zaduzenja">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:minInclusive value="10"/>
<xs:maxInclusive value="99"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="poziv_na_broj_zaduzenja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="racun_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="model_odobrenja">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:minInclusive value="10"/>
<xs:maxInclusive value="99"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="poziv_na_broj_odobrenja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
<xs:attribute name="datum_naloga" type="xs:date"/>
<xs:attribute name="datum_valute" type="xs:date"/>
<xs:attribute name="sifra_valute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
<xs:element name="getStrukturaRtgsNalogaRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="strukturaRtgsNaloga" type="srtgs:struktura_rtgs_naloga"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getStrukturaRtgsNalogaResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="mt900" type="srtgs:mt900"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="mt900">
<xs:sequence>
<xs:element name="id_poruke">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="swift_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="id_poruke_naloga">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
<xs:attribute name="datum_valute" type="xs:date"/>
<xs:attribute name="sifra_valute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
<xs:complexType name="mt910">
<xs:sequence>
<xs:element name="id_poruke">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="swift_kod_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="id_poruke_naloga">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
<xs:attribute name="datum_valute" type="xs:date"/>
<xs:attribute name="sifra_valute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
<xs:element name="getMt910Request">
<xs:complexType>
<xs:sequence>
<xs:element name="mt910" type="srtgs:mt910"/>
<xs:element name="rtgsNalog" type="srtgs:struktura_rtgs_naloga"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getMt910Response">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:mt102="http://mt102.xml.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mt102.xml.com">
<xs:element name="getMt102Request">
<xs:complexType>
<xs:sequence>
<xs:element name="mt102" type="mt102:mt102"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="nalogZaMT102">
<xs:sequence>
<xs:element name="id_naloga_za_placanje">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="duznik_nalogodavac">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="svrha_placanja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="primalac_poverilac">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="datum_naloga" type="xs:date"/>
<xs:element name="racun_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="model_zaduzenja">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:minInclusive value="10"/>
<xs:maxInclusive value="99"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="poziv_na_broj_zaduzenja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="racun_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="model_odobrenja">
<xs:simpleType>
<xs:restriction base="xs:int">
<xs:minInclusive value="10"/>
<xs:maxInclusive value="99"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="poziv_na_broj_odobrenja">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="sifra_valute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mt102">
<xs:sequence>
<xs:element name="id_poruke">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="swift_kod_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="SWIFT_kod_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ukupan_iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="unbounded" name="nalogZaMT102" type="mt102:nalogZaMT102"/>
</xs:sequence>
<xs:attribute name="datum" type="xs:date"/>
<xs:attribute name="datum_valute" type="xs:date"/>
<xs:attribute name="sifra_valute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
<xs:element name="getMt102Response">
<xs:complexType>
<xs:sequence>
<xs:element name="mt900" type="mt102:mt900"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="mt900">
<xs:sequence>
<xs:element name="id_poruke">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="swift_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_duznika">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="id_poruke_naloga">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
<xs:attribute name="datum_valute" type="xs:date"/>
<xs:attribute name="sifra_valute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
<xs:complexType name="mt910">
<xs:sequence>
<xs:element name="id_poruke">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="swift_kod_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="obracunski_racun_banke_poverioca">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="\d{3}-\d{13}-\d{2}"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="id_poruke_naloga">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:maxLength value="50"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="iznos">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="15"/>
<xs:fractionDigits value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
<xs:attribute name="datum_valute" type="xs:date"/>
<xs:attribute name="sifra_valute">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
<xs:element name="getMt910RequestMt102">
<xs:complexType>
<xs:sequence>
<xs:element name="mt910" type="mt102:mt910"/>
<xs:element name="mt102" type="mt102:mt102"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getMt910Response">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="getNalogZaPlacanjeResponse">
<wsdl:part element="sch0:getNalogZaPlacanjeResponse" name="getNalogZaPlacanjeResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="getMt102Response">
<wsdl:part element="sch2:getMt102Response" name="getMt102Response"></wsdl:part>
</wsdl:message>
<wsdl:message name="getMt910Response">
<wsdl:part element="sch2:getMt910Response" name="getMt910Response"></wsdl:part>
</wsdl:message>
<wsdl:message name="getMt102Request">
<wsdl:part element="sch2:getMt102Request" name="getMt102Request"></wsdl:part>
</wsdl:message>
<wsdl:message name="getNalogZaPlacanjeRequest">
<wsdl:part element="sch0:getNalogZaPlacanjeRequest" name="getNalogZaPlacanjeRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="getStrukturaRtgsNalogaResponse">
<wsdl:part element="sch1:getStrukturaRtgsNalogaResponse" name="getStrukturaRtgsNalogaResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="getMt910Request">
<wsdl:part element="sch1:getMt910Request" name="getMt910Request"></wsdl:part>
</wsdl:message>
<wsdl:message name="getStrukturaRtgsNalogaRequest">
<wsdl:part element="sch1:getStrukturaRtgsNalogaRequest" name="getStrukturaRtgsNalogaRequest"></wsdl:part>
</wsdl:message>
<wsdl:portType name="NationalBankPort">
<wsdl:operation name="getNalogZaPlacanje">
<wsdl:input message="tns:getNalogZaPlacanjeRequest" name="getNalogZaPlacanjeRequest"></wsdl:input>
<wsdl:output message="tns:getNalogZaPlacanjeResponse" name="getNalogZaPlacanjeResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getMt102">
<wsdl:input message="tns:getMt102Request" name="getMt102Request"></wsdl:input>
<wsdl:output message="tns:getMt102Response" name="getMt102Response"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getMt910">
<wsdl:input message="tns:getMt910Request" name="getMt910Request"></wsdl:input>
<wsdl:output message="tns:getMt910Response" name="getMt910Response"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getStrukturaRtgsNaloga">
<wsdl:input message="tns:getStrukturaRtgsNalogaRequest" name="getStrukturaRtgsNalogaRequest"></wsdl:input>
<wsdl:output message="tns:getStrukturaRtgsNalogaResponse" name="getStrukturaRtgsNalogaResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="NationalBankPortSoap11" type="tns:NationalBankPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getNalogZaPlacanje">
<soap:operation soapAction=""/>
<wsdl:input name="getNalogZaPlacanjeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getNalogZaPlacanjeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getMt102">
<soap:operation soapAction=""/>
<wsdl:input name="getMt102Request">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getMt102Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getMt910">
<soap:operation soapAction=""/>
<wsdl:input name="getMt910Request">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getMt910Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getStrukturaRtgsNaloga">
<soap:operation soapAction=""/>
<wsdl:input name="getStrukturaRtgsNalogaRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getStrukturaRtgsNalogaResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="NationalBankPortService">
<wsdl:port binding="tns:NationalBankPortSoap11" name="NationalBankPortSoap11">
<soap:address location="http://localhost:8083/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>